name: whole_market

services:
  postgres:
    build:
      context: postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5002:5432"
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    networks:
      - market_net

  app:
    build: .
    env_file:
      - .env.prod
    environment:
      - ENV_MODE=production
    command: >
      gunicorn mainsite.wsgi:application --bind 0.0.0.0:8000
    depends_on:
      postgres:
        condition: service_healthy
    develop:
      watch:
        - path: ./marketplace/
          target: /app/marketplace/
          action: sync+restart
          ignore:
            - ./marketplace/static
            - ./marketplace/uploads
    volumes:
      - postgres-data:/var/lib/postgresql/data/
      - ./marketplace/static/:/app/marketplace/static/ # Пробрасываем статические файлы
      - ./marketplace/uploads/:/app/marketplace/uploads/ # Пробрасываем изображения
    networks:
      - market_net

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./marketplace/static/:/app/marketplace/static/  # Монтируем статические файлы
      - ./marketplace/uploads/:/app/marketplace/uploads/  # Монтируем изображения
    ports:
      - "80:80"
    depends_on:
      app:
        condition: service_started
    restart: unless-stopped
    networks:
      - market_net

volumes: 
  postgres-data:

networks:
  market_net:
